:root{
    --primary-color: #4A90E2;
    --secondary-color: #2ECC71;
    --background-color: #F2F2F2;
    --text-color: #333333;
    --hover-color: #0078D4;
    --cta-color: #FF8C00;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
}